@charset "utf-8";
/* CSS Document */

#main{ margin:10px 0;}
#main .left{ width:730px; float:left;}
#main .left img{ width:600px; position:relative; left:50%; margin-left:-300px;}
#main .left h2{ text-align:center; line-height:50px; border-bottom:1px solid #585858;}
#main .left h2 span{ color:#0080FF;}
#main .left p img{ width:20px;}
#main .left p a{ color:#0080FF; margin-right:10px; line-height:35px;}
#main .left .p1 a{ margin-left:20px;}
.but{ width:200px; position:relative; left:50%; margin-left:-100px; margin-bottom:20px;}
.but a{ width:180px; display:inline-block; text-align:center; line-height:35px; background:#008000; color:#fff;}
#main .left h4{ margin-bottom:15px;}

#main .right{ width:250px; float:right;}

#main .right img{ width:80px; position:relative; margin-left:-40px; left:50%; margin-top:10px;  border-radius:50px; -moz-border-radius:50px; -ms-border-radius:50px; -o-border-radius:50px; -webkit-border-radius:50px;}
#main .right h3{ text-align:center; line-height:30px;}
#main .right p{ text-align:center; line-height:35px;}
#main .right p span{ display:inline-block; width:80px; text-align:center;}
#main .right .but1 a{ border:3px solid #0080C0; color:#000; display:inline-block; width:90px; text-align:center; line-height:30px; margin-left:15px; margin-top:10px; border-radius:10px; -moz-border-radius:10px; -ms-border-radius:10px; -o-border-radius:10px; -webkit-border-radius:10px;}
#main .right .but1 a:hover{ border:3px solid #585858;}
#main .right .but2 a{ display:inline-block; width:100%; line-height:35px; text-align:center; background:#F0F; color:#fff; border-radius:10px; -moz-border-radius:10px; -ms-border-radius:10px; -o-border-radius:10px; -webkit-border-radius:10px; margin-top:20px;}
#main .right .ye a{ display:inline-block; width:119px; border:2px solid #F0F; margin-top:15px; line-height:30px; text-align:center; color:#191919;}



@media (min-width: 768px) and (max-width: 1050px)
{
#main .right{ display:none;}
#main .left{ width:100%; float:none;}
}

@media (min-width: 480px) and (max-width: 767px)
{
#main .right{ display:none;}
#main .left{ width:100%; float:none;}
#main .left img{ width:100%; position:relative; left:0; margin-left:0;}
}

@media (max-width: 479px)
{
#main .right{ display:none;}
#main .left{ width:100%; float:none;}
#main .left img{ width:100%; position:relative; left:0; margin-left:0;}
}